
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #F1F1F2;
}

.mat-primary .mat-button-wrapper {
  color: #F1F1F2;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
